.logo{
    height: 10%;
    width:5%;
    padding-top: 2%;
    padding-left: 2%;
}

nav {
    display: flex;
    border: solid;
    border-color: green;
    
}

#bak{
    width: 15%;
}

section {
    border: solid;
    padding: 3%;
    display: inline-flex;
    padding-left: 3%;
 

}

#t1{
    border: solid;
    border-color: brown;
    padding: 3%;
    display: flex;
    
    
}

#t2{
    border: solid;
    border-color: yellow;
    padding: 3%;
    padding-top: 5%;
    display: flex;
}

#container{
    border: solid;
    border-color: brown;
    padding-right: 3%;
    display: inline-flex;
    
}

#lst{
    border: solid;
    border-color: blue;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    background-image: url(./mawiz-new\ logo.jpg); background-size: contain; background-repeat: no-repeat;
}

.btn{
    text-align: center;
    color: blue;
    border-radius: 40%;
}

#con{
    margin-left: 5%;
}

h1{
    text-align: center;
}